@use '../base/settings' as *;

.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 100rem;
  color: black;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrCalendarWrapper {
  margin-top: -3%;
}
