@use '../base/settings' as *;

.page-header {
  background: #f7f7f7;
  margin-bottom: $l-size;
  padding: $l-size 0;
}

.page-header__title {
  font-size: $xl-size;
  font-weight: 300;
  margin: 0;
  span{
    font-weight: 700 ;
  }
}

.page-header__actions{
  margin-top: $m-size;
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
